{% extends 'base.html' %}
{% block title %}ВЫБЕРИ СВОЁ МЕСТО В САФУ{% endblock %}
{% block body %}
    <div class="loginForm loginForm_hide">
        <div class="loginForm__wrapper">
            <form action="/api/login_user" method="POST" class="loginForm__wrapper__login">
                {{ logform.csrf_token }}
                <img class="close_img" src="../static/img/close.png">
                <div class="loginForm__wrapper__title">Войти</div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ logform.login }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ logform.password }}
                    <img src="../static/img/eye.png" alt="Показать/скрыть пароль" class="loginForm__wrapper__inputWrapper__eye">
                </div>
                <div class="button_wrapper">
                    <input type="submit" class="loginForm__wrapper__submit" value="Войти">
                    <div class="loginForm__wrapper__btn">Регистрация</div>
                </div>
            </form>
            <form method="POST" action="/api/registrate_user" class="loginForm__wrapper__registration">
                <img class="close_img" src="../static/img/close.png">
                <div class="loginForm__wrapper__title">Регистрация</div>
                {{ regform.csrf_token }}
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.login }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.password }}
                    <img src="../static/img/eye.png" alt="Показать/скрыть пароль" class="loginForm__wrapper__inputWrapper__eye">
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.name }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.surname }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.patronymic }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.email }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                   {{ regform.phone_number }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.date_of_birth }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.address }}
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    {{ regform.health_info }}
                </div>
                <div class="button_wrapper">
                    <button type="submit" class="loginForm__wrapper__submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    <div class="loginForm__wrapper__btn">Войти</div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="header__background"></div>
    <div class="header__center">
        <div class="header__center__menu">
            <img src="../static/img/logo.png" class="logo">
            {% if current_user.is_authenticated %}
                <div class="buttonAuth1" style="padding: 7px 30px 10px 30px;">
                    <a class="buttonAuth__text" href="/lk">личный кабинет</a>
                </div>
            {% else %}
                <div class="buttonAuth">
                    <span class="buttonAuth__text">войти</span>
                    <img src="../static/img/auth.png" alt="" class="buttonAuth__img">
                </div>
            {% endif %}
        </div>
        <div class="header__center__bottom">
            <div class="header__center__title">ВЫБЕРИ СВОЕ МЕСТО В САФУ!</div>
            <div class="header__center__line"></div>
            <div class="description">
                На нашем сайте Вы сможете выбрать себе подходящее место проживания на период обучения в университете. Вы сами можете подобрать себе общежитие и комнату, внутри этого общежития по подходящим Вам параметрам. Чтобы приступить к выбору, Вам необходима учётная запись на нашем сайте.
            </div>
        </div>
        <a href="#content" class="header__center__bottom__arrow__link">
            <img src="../static/img/arrow.png" class="header__center__bottom__arrow__img">
        </a>
    </div>
{% endblock %}

{% block main %}
    <a name="content"></a>
    <div class="main__wrapper">
        <div class="slider">
            <img class="slider__btn slider__btn_left" src="../static/img/sliderArrow.png">
            <div class="slider__wrapper">

            </div>
            <img class="slider__btn slider__btn_right" src="../static/img/sliderArrow.png">
        </div>
        <div class="main__wrapper__info">
            <h1 class="main__wrapper__header"></h1>
            <img src="" class="main__wrapper__img">
            <h2 class="main__wrapper__subheader"></h2>
            <h1 class="main__wrapper__title"></h1>
            <h2 class="main__wrapper__text">
                
            </h2>
            <h1 class="main__wrapper__header">Список комнат общежития</h1>
            <div class="room">
                <img src="../static/img/unknown.png" alt="" class="room__img">
                <div class="room__number">
                    <div class="room__number__title">Выбери комнату</div>
                    <div class="room__number__btns">

                    </div>
                    {% if current_user.is_authenticated %}
                        <!-- <form class=""> -->
                            <input type="submit" class="room__number__btnSelect" value="Выбрать">
                        <!-- </form> -->
                    {% else %}
                        <div class="room__number__text">Сначала авторизуйтесь</div>
                    {% endif %}
                </div>
            </div>
            <h2 class="room__info"></h2>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/login.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/selectRoom.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/slider.js')}}"></script>
{% endblock %}