{% extends 'base.html' %}
{% block title %}ВЫБЕРИ СВОЁ МЕСТО В САФУ{% endblock %}
{% block body %}
    <div class="loginForm loginForm_hide">
        <div class="loginForm__wrapper">
            <div class="loginForm__wrapper__login">
                <img class="close_img" src="../static/img/close.png">
                <div class="loginForm__wrapper__title">Вход в систему</div>
                <div class="loginForm__wrapper__inputWrapper">
                    <input type="text" class="loginForm__wrapper__input" placeholder="Логин">
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    <input type="password" class="loginForm__wrapper__input" placeholder="Пароль">
                    <img src="../static/img/eye.png" alt="Показать/скрыть пароль" class="loginForm__wrapper__inputWrapper__eye">
                </div>                
                <div class="button_wrapper">
                    <button type="submit" class="loginForm__wrapper__submit">ВОЙТИ</button>
                    <div class="loginForm__wrapper__btn">Регистрация</div>
                </div>
            </div>
            <div class="loginForm__wrapper__registration">
                <img class="close_img" src="../static/img/close.png">
                <div class="loginForm__wrapper__title">Регистрация</div>
                <div class="loginForm__wrapper__inputWrapper">
                    <input type="text" class="loginForm__wrapper__input" placeholder="Логин">
                </div>
                <div class="loginForm__wrapper__inputWrapper">
                    <input type="password" class="loginForm__wrapper__input" placeholder="Пароль">
                    <img src="../static/img/eye.png" alt="Показать/скрыть пароль" class="loginForm__wrapper__inputWrapper__eye">
                </div>               
                <div class="button_wrapper">
                    <button type="submit" class="loginForm__wrapper__submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    <div class="loginForm__wrapper__btn">Войти</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="header__background"></div>
    <div class="header__center">
        <div class="header__center__menu">
            <img src="../static/img/logo.png" class="logo">
            <div class="buttonAuth">
                <span class="buttonAuth__text">войти</span>
                <img src="../static/img/auth.png" alt="" class="buttonAuth__img">
            </div>
        </div>
        <div class="header__center__bottom">
            <div class="header__center__title">ВЫБЕРИ СВОЕ МЕСТО В САФУ!</div>
            <div class="header__center__line"></div>
            <div class="description">
                На нашем сайте Вы сможете выбрать себе подходящее место проживания на период обучения в университете. Вы сами можете подобрать себе общежитие и комнату, внутри этого общежития по подходящим Вам параметрам. Чтобы приступить к выбору, Вам необходима учётная запись на нашем сайте.
            </div>
        </div>
        <a href="#content" class="header__center__bottom__arrow__link">
            <img src="../static/img/arrow.png" class="header__center__bottom__arrow__img">
        </a>
    </div>
{% endblock %}

{% block main %}
    <a name="content"></a>
    <div class="main__wrapper">
        <div class="slider">
            <img class="slider__btn slider__btn_left" src="../static/img/sliderArrow.png">
            <div class="slider__wrapper">
                <!-- <img src="../static/img/obshaga1.png" class="slider__img">
                <img src="../static/img/obshaga2.png" class="slider__img">
                <img src="../static/img/obshaga1.png" class="slider__img">
                <img src="../static/img/obshaga2.png" class="slider__img">
                <img src="../static/img/obshaga1.png" class="slider__img">
                <img src="../static/img/obshaga2.png" class="slider__img">
                <img src="../static/img/obshaga1.png" class="slider__img">
                <img src="../static/img/obshaga2.png" class="slider__img">
                <img src="../static/img/obshaga1.png" class="slider__img">
                <img src="../static/img/obshaga2.png" class="slider__img"> -->
            </div>
            <img class="slider__btn slider__btn_right" src="../static/img/sliderArrow.png">
        </div>
        <div class="main__wrapper__info">
            <h1 class="main__wrapper__header"></h1>
            <img src="" class="main__wrapper__img">
            <h2 class="main__wrapper__subheader"></h2>
            <h1 class="main__wrapper__title"></h1>
            <h2 class="main__wrapper__text">
                
            </h2>
            <h1 class="main__wrapper__header">Список комнат общежития</h1>
            <div class="room">
                <img src="../static/img/unknown.png" alt="" class="room__img">
                <div class="room__number">
                    <div class="room__number__title">Выбери комнату</div>
                    <div class="room__number__btns">
                        <!-- <div class="room__number__btn">1</div>
                        <div class="room__number__btn">2</div>
                        <div class="room__number__btn">3</div>
                        <div class="room__number__btn">4</div>
                        <div class="room__number__btn">5</div>
                        <div class="room__number__btn">6</div>
                        <div class="room__number__btn">7</div>
                        <div class="room__number__btn">8</div>
                        <div class="room__number__btn">9</div>
                        <div class="room__number__btn">10</div> -->
                    </div>
                </div>
            </div>
            <h2 class="room__info"></h1>
        </div>
        <!-- <form id="myForm" action="/api/registrate_user" method="post">
            <input type="text" name="login" placeholder="Login" value="1">
            <input type="password" name="password" placeholder="Password" value="2">
            <input type="text" name="name" placeholder="Name" value="3">
            <input type="text" name="surname" placeholder="Surname" value="4">
            <input type="text" name="patronymic" placeholder="Patronymic" value="5">
            <input type="email" name="email" placeholder="Email" value="dass@mail.ru">
            <input type="tel" name="phone_number" placeholder="Phone Number" value="3213213">
            <input type="date" name="date_of_birth" placeholder="Date of Birth" value="2000-03-30">
            <input type="text" name="address" placeholder="Address" value="dsadasdasds">
            <input type="text" name="health_info" placeholder="Health Info" value="dsadasdasd">
            <input type="submit">Register</input>
        </form> -->
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/login.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/selectRoom.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/slider.js')}}"></script>
{% endblock %}