{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block main %}
    <form action="/api/change_user_data" method="POST" class="lk">
        <div class="lk__back">
            <a href="/" class="lk__btn_exit lk__btn_main">На главную</a>
            <a href="/api/logout" class="lk__btn_exit">Выйти</a>
        </div>
        {{ user_form.csrf_token }}
        <div class="lk__inputs">
            <div class="lk__inputs__wrapper">
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.surname.label }}
                    {{ user_form.surname(value=current_user.surname) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.name.label }}
                    {{ user_form.name(value=current_user.name) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.patronymic.label }}
                    {{ user_form.patronymic(value=current_user.patronymic) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.email.label }}
                    {{ user_form.email(value=current_user.email) }}
                </div>
            </div>
            <div class="lk__inputs__wrapper">
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.phone_number.label }}
                    {{ user_form.phone_number(value=current_user.phone_number) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.date_of_birth.label }}
                    {{ user_form.date_of_birth(value=current_user.date_of_birth) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.address.label }}
                    {{ user_form.address(value=current_user.address) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.health_info.label }}
                    {{ user_form.health_info(value=current_user.health_info) }}
                </div>
            </div>
        </div>
        <input type="submit" class="lk__btn" value="Обновить">
    </form>
    <h1>Информация по заселению в общежитии</h1>
    <div class="lk__applications">
        {% if not assignments %}
            <div class="lk__applications__message">Вы ещё не заселены</div>
        {% else %}
            {% for assignment in assignments %}
                <div class="lk__application">
                    <div class="lk__application__wrapper">
                        {{ assignment.user_name }}
                        {{ assignment.dormitory_name }}
                        {{ assignment.room_number }}
                        {{ assignment.check_in_date }}
                        {{ assignment.check_out_date }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <h1>Заявки</h1>>
    <div class="lk__applications">
        {% if not applications %}
            <div class="lk__applications__message">Активных заявок нет</div>
        {% else %}
            {% for application in applications %}
                <div class="lk__application">
                    <div class="lk__application__wrapper">
                        {% if application.status %}
                            <div class="lk__application__status">Обработано</div>
                        {% else %}
                            <div class="lk__application__status_red">В обработке</div>
                        {% endif %}
                        <img src="./static/img/close.png" class="lk__application__img">
                    </div>
                    <div class="lk__application__title">{{ application.username }}</div>
                    <div class="lk__application__title">Общежитие №3</div>
                    <div class="lk__application__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis molestias qui id asperiores nihil suscipit deserunt impedit excepturi aperiam soluta.</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}