{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block main %}
    <form action="/api/change_user_data" method="POST" class="lk">
        <div class="lk__back">
            <a href="/" class="lk__btn_exit lk__btn_main">На главную</a>
            <a href="/api/logout" class="lk__btn_exit">Выйти</a>
        </div>
        {{ user_form.csrf_token }}
        <div class="lk__inputs">
            <div class="lk__inputs__wrapper">
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.surname.label }}
                    {{ user_form.surname(value=current_user.surname) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.name.label }}
                    {{ user_form.name(value=current_user.name) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.patronymic.label }}
                    {{ user_form.patronymic(value=current_user.patronymic) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.email.label }}
                    {{ user_form.email(value=current_user.email) }}
                </div>
            </div>
            <div class="lk__inputs__wrapper">
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.phone_number.label }}
                    {{ user_form.phone_number(value=current_user.phone_number) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.date_of_birth.label }}
                    {{ user_form.date_of_birth(value=current_user.date_of_birth) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.address.label }}
                    {{ user_form.address(value=current_user.address) }}
                </div>
                <div class="lk__inputs__wrapper__block">
                    {{ user_form.health_info.label }}
                    {{ user_form.health_info(value=current_user.health_info) }}
                </div>
            </div>
        </div>
        <input type="submit" class="lk__btn" value="Обновить">
    </form>

    <div class="lk__parent">
        <div class="lk_left">
            <h1 class="lk__applications__header">Информация по заселению в общежитии</h1>
            {% if not assignments %}
                <div class="lk__applications__message">Вы ещё не заселены</div>
            {% else %}
                {% for assignment in assignments %}
                    <div class="lk__application__wrapper__InfoBlock">
                        {% if current_user.permissions == "admin" %}
                            <div class="lk__application__wrapper__asignment">
                                <form action="/api/delete_assignments/{{ assignment.assignment_id }}" method="POST">
                                    <button type="submit" class="lk__application__title__submit">
                                        <img src="./static/img/close.png" class="lk__application__img lk__application__img_asignment">
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        <div class="lk__application__wrapper__info"><strong>ФИО:</strong> {{ assignment.user_surname ~ ' ' ~ assignment.user_name ~ ' ' ~ assignment.user_patronymic }}</div>
                        <div class="lk__application__wrapper__info"><strong>Общежитие:</strong> {{ assignment.dormitory_name ~ ', ' ~ assignment.dormitory_address }}</div>
                        <div class="lk__application__wrapper__info"><strong>Номер комнаты:</strong> {{ assignment.room_number }}</div>
                        <div class="lk__application__wrapper__info"><strong>Дата заселения:</strong> {{ assignment.check_in_date }}</div>
                        <div class="lk__application__wrapper__info"><strong>Дата окончания заселения:</strong> {{ assignment.check_out_date }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="lk_right">
            <h1 class="lk__applications__header">Заявки</h1>
            {% if not applications %}
                <div class="lk__applications__message">Активных заявок нет</div>
            {% else %}
                {% if not applications %}
                    <div class="lk__applications__message">Активных заявок нет</div>
                {% else %}
                    {% for application in applications|sort(attribute='status') %}
                        <div class="lk__application">
                            <div class="lk__application__wrapper">
                                {% if application.status %}
                                    <div class="lk__application__status">Обработано</div>
                                    {% if current_user.permissions == "admin" %}
                                        <form action="/api/delete_application/{{ application.application_id }}" method="POST">
                                            <button type="submit" class="lk__application__title__submit">
                                                <img src="./static/img/close.png" class="lk__application__img">
                                            </button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <div class="lk__application__status_red">В обработке</div>
                                    {% if current_user.permissions == "admin" %}
                                        <div class="lk__btns">
                                            {% if application.status == false %}
                                                <form action="/api/change_application_status/{{ application.application_id }}" method="POST">
                                                    <button type="submit" class="lk__application__title__submit">
                                                        <img src="./static/img/ok.png" class="lk__application__img_ok">
                                                    </button>
                                                </form>
                                            {% endif %}
                                            <form action="/api/delete_application/{{ application.application_id }}" method="POST">
                                                <button type="submit" class="lk__application__title__submit">
                                                    <img src="./static/img/close.png" class="lk__application__img">
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="lk__application__title">{{ application.user_surname ~ ' ' ~ application.user_name ~ ' ' ~ application.user_patronymic }}</div>
                            <div class="lk__application__text">{{ 'Дата заявки: ' ~ application.application_date }}</div>
                            <div class="lk__application__text">{{ 'Номер телефона: ' ~ application.user_phone_number }}</div>
                            <div class="lk__application__text">{{ 'Email: ' ~ application.user_email }}</div>
                            <div class="lk__application__text">{{ application.dormitory_name ~', комната №' ~ application.room_number ~', адрес: ' ~ application.dormitory_address }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
