main {
    width: 100%;
    background: #0084ff;
    color: #484848;
}

.main__wrapper {
    padding: 60px 20px;
    min-height: 100vh;
    max-width: 1180px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    background: #0084ff;
}

.main__wrapper__info {
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.main__wrapper__header {
    margin-bottom: 15px;
}

.main__wrapper__img {
    width: -webkit-fill-available;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 15px;
}

.main__wrapper__subheader {
    margin: 10px 0 30px 0;
    font-size: 22px;
    text-align: end;
}

.main__wrapper__title {
    margin-bottom: 10px;
}

.main__wrapper__text {
    line-height: 32px;
    font-size: 22px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.room {
    margin-left: 30px;
    display: flex;
    gap: 60px;
}

.room__img {
    width: 50%;
    border-radius: 15px;
    object-fit: scale-down;
    height: 190px;
}

.room__number {
    max-width: 380px;
}

.room__number__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.room__number__btns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.room__number__btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #484848;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    color: #484848;
    transition: .5s;
}

.room__number__btn_disable {
    background: red;
    color: #fff;
    cursor: default;
    border-color: red;
}

.room__number__btn_active {
    background: #484848;
    color: #fff;
}